body{
font-family: Arial;
margin:0;
background:#ff0000;
color:white;
}

.navbar{
background:#0f2a44;
padding:15px;
}

.navbar ul{
list-style:none;
display:flex;
gap:20px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:bold;
}

.navbar a:hover{
color:#00ff9d;
}

.content{
padding:40px;
}

h1{
border-bottom:3px solid #00ff9d;
display:inline-block;
padding-bottom:5px;
}
